:root{
--space-unit:1rem;

--space-900:calc(13.75 * var(--space-unit));
--space-800:calc(8.5 * var(--space-unit));
--space-700:calc(5.25 * var(--space-unit));
--space-600:calc(3.25 * var(--space-unit));
--space-500:calc(2 * var(--space-unit));
--space-400:calc(1.25 * var(--space-unit));
--space-300:calc(0.75 * var(--space-unit));
--space-200:calc(0.5 * var(--space-unit));
--space-100:calc(0.25 * var(--space-unit));
}